# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/key.properties
android/**/*.keystore
android/**/*.jks
*.iml
.gradle/

# IDE
.idea/
.vscode/

# macOS
.DS_Store
